@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.selector {
  @include center-flex(column, center, center);
  gap: $spacing-xs;
}

.label {
  font-weight: 600;
  text-align: center;
}

.options {
  @include center-flex(row, flex-start, center);
  gap: $spacing-sm;
}

.option {
  position: relative;
  cursor: pointer;
  @include center-flex(row, space-between, center);

  input[type="radio"] {
    display: none;
  }

  span {
    padding: $spacing-xs $spacing-sm;
    border: 2px solid $color-muted;
    border-radius: $border-radius;
    transition: all 0.2s ease-in-out;
  }

  &.active span {
    border-color: $color-primary;
    background-color: $color-primary;
    color: $color-white;
  }
}